config TOUCHSCREEN_ELAN
	tristate "elan ektf2k touch controller"
	depends on I2C
	help
	  Say Y here if you have a elan ektf2k I2C touchscreen
	  connected to your system.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called ektf2k.


